@model Web.AfrinextInvest.com.Models.Projets

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Projets</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pays" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pays" class="form-control" />
                <span asp-validation-for="Pays" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecteurActivite" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecteurActivite" class="form-control" />
                <span asp-validation-for="SecteurActivite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BudgetRequis" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BudgetRequis" class="form-control" />
                <span asp-validation-for="BudgetRequis" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
