<nav class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li><a asp-controller="Admin" asp-action="ProjectIndex">Projets </a></li>
        <li><a asp-controller="Admin" asp-action="UsersIndex">Utilisateurs </a></li>
        <li><a asp-controller="Admin" asp-action="RolesIndex">Roles </a></li>
        <li><a asp-controller="Admin" asp-action="ClaimsIndex">Groupes </a></li>
    </ul>
</nav>