@{
    //On désactive l'héritage du _Layout
    Layout = "_SubLayout";
    //ViewData["Title"] = "_SubLayout";
}

<div class="row" style="margin-top:1em;">
    <section class="col-md-10">
        
    </section>
</div>

