@model IEnumerable<Web.AfrinextInvest.com.Identity.Role>

@{
    ViewData["Title"] = "Liste des Roles";
    Layout = "_SubLayout";
}

<section class="col-md-10">
    <h2>Roles utilisateurs</h2>
    <hr />
    <div class="col-md-12" style="margin:0.5em auto;">
        <a asp-action="RoleCreate" class="btn btn-xs btn-primary">Ajouter</a>
    </div>
    <table class="table table-striped table-hover">
        <tr class="">
            <th>Nom</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        @foreach (var Item in Model)
        {
            <tr>
                <td>@Item.Name</td>
                <td>@Item.Description</td>
                <td>
                    <a href="" class="btn btn-xs btn-success">Details</a>
                    <a href="" class="btn btn-xs btn-danger">Modifier</a>
                </td>
            </tr>
        }
    </table>
</section>